.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 24px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center align text */
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  color: #333;
}

.modal-content input[type="email"] {
  padding: 8px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  margin-bottom: 16px;
  outline: none;
  width: 100%;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.add-button,
.cancel-button {
  width: 50%;
  background-color: #317F8B;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
}

.cancel-button {
  background-color: transparent;
  color: #CF3636;
  border: 1px solid #CF3636;
}

.add-button:hover {
  background-color: #276A74;
}

.confirmation-content p {
  font-size: 18px;
  color: #333;
  margin: 0;
  padding-bottom: 16px;
}

.confirm-button {
  background-color: #317F8B;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
}

.confirm-button:hover {
  background-color: #276A74;
}
